body {
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
  margin-top: -100px;
}

.title {
  font-size: 70px;
  margin-bottom: 20px;
  color: goldenrod;
}

.input-container {
  margin-top: 20px;
}

.input-label {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  display: block; /* Ensures the label takes up full width */
}

.input-field {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
  width: 200px; /* Set a fixed width to prevent button and input from merging */
}

.input-field:focus {
  outline: none;
  border-color: goldenrod;
}

.submit-button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Add margin at the bottom */
  margin-left: 10px; /* Add margin to the left */
}

.submit-button:hover {
  background-color: #45a049;
}

.board {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
}

.square {
  font-size: 32px;
  width: 80px;
  height: 80px;
  position: relative;
}

.player {
  position: absolute;
  font-size: 50px;
}

.start-button {
  margin-top: 20px;
  padding: 10px 40px;
  font-size: 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Add margin to the left */
}

.start-button:hover {
  background-color: #45a049;
}

.reset-button {
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #007700;
}

.status {
  font-size: 24px;
  margin-bottom: 20px;
  font-size: 30px;
  color: orange;
}

.winner {
  color: goldenrod;
  margin-bottom: 40px;
  font-size: 50px;
}
